@font-face {
  font-family: "Sarpanch", sans-serif;
  src: url(../fonts/Sarpanch/Sarpanch-Black.ttf);
  src: url(../fonts/Sarpanch/Sarpanch-Bold.ttf);
  src: url(../fonts/Sarpanch/Sarpanch-ExtraBold.ttf);
  src: url(../fonts/Sarpanch/Sarpanch-Medium.ttf);
  src: url(../fonts/Sarpanch/Sarpanch-Regular.ttf);
  src: url(../fonts/Sarpanch/Sarpanch-SemiBold.ttf);
}
@font-face {
  font-family: "Aldrich", sans-serif;
  src: url(../fonts/Aldrich/Aldrich-Regular.ttf);
}
@font-face {
  font-family: "Gruppo", cursive;
  src: url(../fonts/Gruppo/Gruppo-Regular.ttf);
}
@font-face {
  font-family: "Electrolize", sans-serif;
  src: url(../fonts/Electrolize/Electrolize-Regular.ttf);
}
* {
  font-family: "Electrolize", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 9em;
  cursor: none;
}

:root {
  --primary-color: rgba(255, 255, 255, 0.253);
  --primary-variant: #ff2d2d;
  --secondary-color: #ffffff5e;
  --on-primary: rgb(250, 250, 250);
  --on-background: rgb(66, 66, 66);
  --on-background-alt: rgba(66, 66, 66, 0.7);
  --background: rgb(255, 255, 255);
  --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
  --background-image: url("../imgs/bg-light-1.jpg");
}

[data-theme=dark] {
  --primary-color: rgba(14, 0, 207, 0.085);
  --primary-variant: #6c63ff;
  --secondary-color: #ffffff;
  --on-primary: #000;
  --on-background: rgba(255, 255, 255, 0.9);
  --on-background-alt: rgba(255, 255, 255, 0.7);
  --background: #121212;
  --background-image: url("../imgs/bg-dark-2.jpg");
}

body {
  background-image: var(--background-image);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: auto;
  overflow-x: hidden;
}

.container {
  max-width: 1900px;
  width: 100%;
  margin: auto;
}

li,
a,
button {
  font-weight: 500;
  font-size: 1rem;
}

/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////// CURSORS /////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
.cursor {
  width: 25px;
  height: 25px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  -webkit-animation: cursorAnim 0.5s infinite alternate;
          animation: cursorAnim 0.5s infinite alternate;
  pointer-events: none;
  z-index: 11;
}
.cursor::after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  border: 8px solid gray;
  border-radius: 50%;
  opacity: 0.5;
  top: -9px;
  left: -9px;
  -webkit-animation: cursorAnim2 0.5s infinite alternate;
          animation: cursorAnim2 0.5s infinite alternate;
}

@-webkit-keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}

@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}
@-webkit-keyframes cursorAnim2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.5);
  }
}
@keyframes cursorAnim2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.5);
  }
}
@-webkit-keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.expand {
  -webkit-animation: cursorAnim3 0.5s forwards;
          animation: cursorAnim3 0.5s forwards;
  border: 2px solid #41AED9;
}

/*////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////// HEADER SECTION /////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
header {
  box-shadow: 0 0.5% 1% rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  box-shadow: 0 20px 50px -10px rgba(118, 118, 118, 0.5);
  position: fixed;
  top: 4%;
  width: 95%;
  margin-inline: 4em;
  border: 0.1px solid white;
  border-radius: 33px;
  padding: 0.5em 2em;
  z-index: 10;
}
header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .nav .logo-image {
  max-width: 45%;
}
header .nav .nav-items {
  display: flex;
  justify-content: end;
  width: 65%;
}
header .nav .nav-items .navbar {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 1em;
}
header .nav .nav-items .navbar .nav-links {
  display: inline-block;
  padding: 0.6em 1.9em;
  border: 0;
  text-decoration: none;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.201);
  border: 1px solid rgb(255, 255, 255);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  color: #575656;
  font-size: 1rem;
  letter-spacing: 0.1em;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bolder;
  transition: 0.3s;
}
header .nav .nav-items .navbar .nav-links-contact {
  display: inline-block;
  padding: 0.6em 1.9em;
  border: 0;
  text-decoration: none;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  color: #575656;
  font-size: 1rem;
  letter-spacing: 0.1em;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bolder;
  transition: 0.3s;
}
header .nav .nav-items .navbar .nav-links-contact:hover {
  background-color: rgba(255, 255, 255, 0.977);
}
header .nav .nav-items .navbar .nav-links-contact::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 0.2em solid #ffffff;
  position: absolute;
  z-index: -2;
  top: 50%;
  left: 54%;
  transform: translate(-50%, -50%);
  -webkit-animation: ring 1.5s infinite;
          animation: ring 1.5s infinite;
}
@-webkit-keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}
@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}
header .nav .dropdown {
  min-width: 4rem;
  position: relative;
  margin: 0 1em;
  display: flex;
  align-items: center;
  /*
          Active styles 
          (added later in Javascript)
          */
  /*
              Open styles 
              (added later in Javascript)
          */
}
header .nav .dropdown .select {
  background-color: rgba(255, 255, 255, 0.201);
  border: 1px solid rgb(255, 255, 255);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 11px;
  padding: 0.4em 0.8em;
  cursor: pointer;
  transition: background 0.3s;
  border-radius: 16px;
  font-weight: bolder;
  color: #575656;
  font-weight: bold;
  transition: 0.3s;
  font-size: 1rem;
  /*
      Clicked styles 
      (added later in Javascript)
      */
  /* Rotate styles (added later in Javascript) */
}
header .nav .dropdown .select:hover {
  background-color: rgba(255, 255, 255, 0.977);
}
header .nav .dropdown .select .select-clicked {
  border: 2px #26489a solid;
  box-shadow: 0 0 0.8em #26489a;
}
header .nav .dropdown .select .caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #707070;
  transition: 0.3s;
  margin-left: 0.5em;
}
header .nav .dropdown .select .caret-rotate {
  transform: rotate(180deg);
}
header .nav .dropdown .menu {
  list-style: none;
  padding: 0 0.6em;
  background-color: rgba(255, 255, 255, 0.331);
  border: 1px solid white;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  color: #575656;
  position: absolute;
  top: 1.8em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
  margin-top: 0.6em;
}
header .nav .dropdown .menu li {
  padding: 0.5em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
  text-align: centre;
}
header .nav .dropdown .menu li:hover {
  background-color: rgba(255, 255, 255, 0.744);
}
header .nav .dropdown .active {
  background-color: rgba(255, 255, 255, 0.744);
}
header .nav .dropdown .menu-open {
  display: block;
  opacity: 1;
}
header .nav .theme-container {
  background-color: rgba(159, 159, 159, 0.653);
  width: 3.5%;
  border-radius: 50px;
  border: 1px solid white;
  padding: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}
header .nav .theme-container:hover {
  opacity: 0.8;
}
@-webkit-keyframes change {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.4);
  }
}
@keyframes change {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.4);
  }
}
header .nav .theme-container .shadow-dark {
  background: linear-gradient(145deg, #23282c, #1e2125);
  box-shadow: 17px 17px 23px #1a1d20, -17px -17px 23px #282d32, inset 5px 5px 4px #1e2226, inset -5px -5px 4px #24282c;
}
header .nav .theme-container .shadow-light {
  box-shadow: 7px 7px 15px -10px #bbcfda, -4px -4px 13px #ffffff, inset 7px 7px 3px rgba(209, 217, 230, 0.35), inset -11px -11px 3px rgba(255, 255, 255, 0.3);
}
header .nav .theme-container .change {
  -webkit-animation-name: change;
          animation-name: change;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////// HERO SECTION ////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8em;
  min-height: 100vh;
}
.hero .hero-content {
  position: relative;
  width: 100%;
  max-width: 89rem;
  height: 70vh;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 0 14em;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  box-shadow: 0 20px 50px -10px rgba(118, 118, 118, 0.5);
}
.hero .hero-content::before {
  box-shadow: inset 0 0 100px rgba(255, 255, 255, 0.5);
}
.hero .hero-content .profil-img-container {
  position: relative;
  top: -10%;
  left: 0;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background-color: rgba(176, 176, 176, 0.2588235294);
  overflow: hidden;
}
.hero .hero-content .profil-img-container::before {
  content: "";
  position: absolute;
  inset: -1em 5em;
  background: linear-gradient(315deg, #41AED9, #CE5C59);
  transition: 0.5s;
  -webkit-animation: animate 4s linear infinite;
          animation: animate 4s linear infinite;
}
.hero .hero-content .profil-img-container:hover::before {
  inset: -2em 0px;
}
@-webkit-keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hero .hero-content .profil-img-container::after {
  content: "";
  position: absolute;
  inset: 0.4em;
  background: rgba(215, 215, 215, 0.9960784314);
  border-radius: 50%;
  z-index: 0;
}
.hero .hero-content .profil-img-container .profil-img-content {
  position: absolute;
  inset: 0.2em;
  z-index: 2;
  border-radius: 50%;
  overflow: hidden;
}
.hero .hero-content .profil-img-container .profil-img-content img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 0.5s;
}
.hero .hero-content .hero-text {
  color: #575656;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 1.1rem;
  gap: 0.1em;
  text-align: left;
}
.hero .hero-content .hero-text .intro-title {
  font-size: 2.5rem;
  margin-bottom: 0.3em;
}
.hero .hero-content .hero-text .description {
  font-size: 1.5rem;
  line-height: 1.9em;
  margin-bottom: 4em;
}
.hero .hero-content .hero-text .typing {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  font-size: 1.6rem;
}
.hero .hero-content .hero-text .typing .typing {
  font-size: 3rem;
}
.hero .hero-content .hero-text .typing .typing:after {
  content: "";
  width: 1px;
  height: 99%;
  right: -4%;
  border-right: 2px solid rgb(0, 0, 0);
  -webkit-animation: 0.9s infinite ease;
          animation: 0.9s infinite ease;
}
@-webkit-keyframes type {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes type {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hero .hero-content .cv-link {
  display: inline-block;
  border-radius: 30px;
  font-weight: 600;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgb(255, 255, 255);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  display: flex;
  justify-content: center;
  overflow: hidden;
  text-decoration: none;
}
.hero .hero-content .cv-link .download-text {
  padding: 0 2.7em 0 4em;
  font-weight: bold;
  font-size: 1.3rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #575656;
}
.hero .hero-content .cv-link .download-icon {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.4rem;
}
.hero .hero-content .cv-link .download-icon img {
  width: 29px;
}
.hero .hero-content .cv-link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.4s ease-out;
  z-index: -1;
}
.hero .hero-content .cv-link:hover {
  transition: all 0.4s ease-out;
}
.hero .hero-content .cv-link:hover::before {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  transform: translateX(0);
  transition: all 0.4s ease-out;
}

/*/////////////////////////// SOCIAL MEDIAS ICONS/////////////////////////*/
.social-icons {
  position: fixed;
  top: 84%;
  transform: translateY(-50%);
  z-index: 100;
}
.social-icons ul {
  transform: translateX(-152px);
}
.social-icons ul li {
  display: block;
  margin: 0.7em;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgb(255, 255, 255);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  border-radius: 80px;
  width: 13rem;
  text-align: right;
  border-radius: 0 45px 45px 0;
  transition: all 1s;
  font-size: 1rem;
  padding: 0.2em;
}
.social-icons ul li:hover {
  transform: translateX(120px);
}
.social-icons ul li a {
  color: white;
  font-size: 1.5rem;
}
.social-icons ul li img {
  transform: rotate(0deg);
}
.social-icons ul li:hover img {
  transform: rotate(360deg);
  transition: all 1s;
}
.social-icons ul li .icon {
  background-color: rgb(255, 255, 255);
  padding: 0.4em;
  border-radius: 50%;
  text-align: center;
  margin-left: 0.875em;
  width: 3.5rem;
  display: inline-block;
  vertical-align: middle;
  transition: all 1s;
}

.about-circle-image-right {
  width: 25%;
  position: absolute;
  top: 110%;
  transform: translateX(20rem);
  right: 0;
}
.about-circle-image-right .circle-Right {
  width: 100%;
  -webkit-animation: circle 9s linear infinite;
          animation: circle 9s linear infinite;
  transition: 0.5s;
  overflow-x: hidden;
}
@-webkit-keyframes circle {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes circle {
  100% {
    transform: rotate(360deg);
  }
}

/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////// SERVICES SECTION ////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
.wrapper {
  margin-bottom: 15em;
  min-height: 100vh;
}
.wrapper .services-title {
  text-align: center;
  margin-bottom: 3em;
  margin-top: 15em;
}
.wrapper .services-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 700;
}
.wrapper .services-title h2 span {
  color: #ffffff;
}
.wrapper .services-title h2 .bg-text {
  position: absolute;
  top: 40%;
  left: 50%;
  color: rgba(245, 245, 245, 0.1882352941);
  transition: all 0.4s ease-in-out;
  z-index: -1;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 6.5rem;
}

.icon-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}
.icon-wrap .card {
  width: 100%;
  max-width: 89rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5em 8em;
  border-radius: 10px;
  box-shadow: 0 0.5% 1% rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  box-shadow: 0 20px 50px -10px rgba(118, 118, 118, 0.5);
  border: 0.1px solid #F2B199;
  z-index: -1;
  margin-top: 1em;
}
.icon-wrap .card h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5em;
  color: white;
}
.icon-wrap .card .service-text {
  color: white;
  font-size: 1.3rem;
  line-height: 1.9em;
}
.icon-wrap .icon-develop {
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  height: 38vh;
  width: 45%;
}
.icon-wrap .icon-develop .gear-b {
  -webkit-animation: rotate-reverse 6s;
          animation: rotate-reverse 6s;
}
.icon-wrap .icon-develop .gear-s {
  -webkit-animation: rotate 12s linear infinite;
          animation: rotate 12s linear infinite;
}
.icon-wrap .icon-develop #XMLID_87_,
.icon-wrap .icon-develop #XMLID_85_,
.icon-wrap .icon-develop #XMLID_83_ {
  -webkit-animation: twinkle 3s ease-in-out infinite;
          animation: twinkle 3s ease-in-out infinite;
}
.icon-wrap .icon-develop #XMLID_85_ {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.icon-wrap .icon-develop #XMLID_83_ {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.icon-wrap .icon-develop .line-t,
.icon-wrap .icon-develop .line-m,
.icon-wrap .icon-develop .line-b {
  -webkit-animation: shrink 1.8s ease-in-out infinite;
          animation: shrink 1.8s ease-in-out infinite;
}
.icon-wrap .icon-develop .line-m {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.icon-wrap .icon-develop .line-b {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.icon-wrap .icon-develop .code-letter_o {
  -webkit-animation: typingO 3s linear infinite;
          animation: typingO 3s linear infinite;
}
.icon-wrap .icon-develop .code-letter_d {
  -webkit-animation: typingD 3s linear infinite;
          animation: typingD 3s linear infinite;
}
.icon-wrap .icon-develop .code-letter_e {
  -webkit-animation: typingE 3s linear infinite;
          animation: typingE 3s linear infinite;
}
@-webkit-keyframes typingE {
  20.1%, 80% {
    fill: transparent;
  }
  20%, 80.1% {
    fill: #fff;
  }
}
@keyframes typingE {
  20.1%, 80% {
    fill: transparent;
  }
  20%, 80.1% {
    fill: #fff;
  }
}
@-webkit-keyframes typingD {
  30.1%, 70% {
    fill: transparent;
  }
  30%, 70.1% {
    fill: #fff;
  }
}
@keyframes typingD {
  30.1%, 70% {
    fill: transparent;
  }
  30%, 70.1% {
    fill: #fff;
  }
}
@-webkit-keyframes typingO {
  40.1%, 60% {
    fill: transparent;
  }
  40%, 60.1% {
    fill: #fff;
  }
}
@keyframes typingO {
  40.1%, 60% {
    fill: transparent;
  }
  40%, 60.1% {
    fill: #fff;
  }
}
.icon-wrap .icon-design {
  -webkit-animation-play-state: running;
          animation-play-state: running;
  height: 38vh;
  width: 40%;
}
.icon-wrap .icon-design .anchor-part {
  -webkit-animation: move 2s linear infinite;
          animation: move 2s linear infinite;
}
.icon-wrap .icon-design .anchor-part--2 {
  -webkit-animation: move2 2s linear infinite;
          animation: move2 2s linear infinite;
}
.icon-wrap .icon-design .pen-part {
  transform-origin: 140px 180px;
  -webkit-animation: bounce2 2s ease-in-out infinite;
          animation: bounce2 2s ease-in-out infinite;
}
.icon-wrap .icon-design .ruler-part {
  transform-origin: 140px 180px;
  -webkit-animation: bounce 1s ease-in-out infinite;
          animation: bounce 1s ease-in-out infinite;
}
.icon-wrap .icon-design .circle-part {
  transform-origin: 139.8px 167.8px;
  -webkit-animation: rotate 4s linear infinite;
          animation: rotate 4s linear infinite;
}
.icon-wrap .icon-design .cursor-part {
  -webkit-animation: bounceBFt2 2s ease-in-out infinite;
          animation: bounceBFt2 2s ease-in-out infinite;
}
@-webkit-keyframes move {
  0%, 100% {
    transform: translate(1px, 1px);
  }
  50% {
    transform: translate(-1px, -1px);
  }
}
@keyframes move {
  0%, 100% {
    transform: translate(1px, 1px);
  }
  50% {
    transform: translate(-1px, -1px);
  }
}
@-webkit-keyframes move2 {
  0%, 100% {
    transform: translate(-1px, -1px);
  }
  50% {
    transform: translate(1px, 1px);
  }
}
@keyframes move2 {
  0%, 100% {
    transform: translate(-1px, -1px);
  }
  50% {
    transform: translate(1px, 1px);
  }
}
@-webkit-keyframes twinkle {
  0%, 50%, 100% {
    transform: scale(1);
  }
  25%, 75% {
    transform: scale(1.3);
  }
}
@keyframes twinkle {
  0%, 50%, 100% {
    transform: scale(1);
  }
  25%, 75% {
    transform: scale(1.3);
  }
}
@-webkit-keyframes bounce {
  50% {
    transform: rotate(-6deg);
  }
}
@keyframes bounce {
  50% {
    transform: rotate(-6deg);
  }
}
@-webkit-keyframes bounce2 {
  50% {
    transform: rotate(6deg);
  }
}
@keyframes bounce2 {
  50% {
    transform: rotate(6deg);
  }
}
@-webkit-keyframes bounceBFt2 {
  0%, 100% {
    transform: rotate(4.6deg);
  }
  50% {
    transform: rotate(-4.6deg);
  }
}
@keyframes bounceBFt2 {
  0%, 100% {
    transform: rotate(4.6deg);
  }
  50% {
    transform: rotate(-4.6deg);
  }
}
@-webkit-keyframes shrink {
  50% {
    transform: scaleX(0.3);
  }
}
@keyframes shrink {
  50% {
    transform: scaleX(0.3);
  }
}
@-webkit-keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes rotate-reverse {
  to {
    transform: rotate(-1turn);
  }
}
@keyframes rotate-reverse {
  to {
    transform: rotate(-1turn);
  }
}

/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////// PORTFOLIO SECTION ///////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
.portfolio {
  min-height: 150vh;
}
.portfolio .portfolio-content .hide {
  display: none;
}
.portfolio .portfolio-content .potofolio-title {
  text-align: center;
  margin-bottom: 1em;
  margin-top: 5em;
}
.portfolio .portfolio-content .potofolio-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 700;
}
.portfolio .portfolio-content .potofolio-title h2 span {
  color: #ffffff;
}
.portfolio .portfolio-content .potofolio-title h2 .bg-text {
  position: absolute;
  top: 30%;
  left: 50%;
  color: rgba(245, 245, 245, 0.1882352941);
  transition: all 0.4s ease-in-out;
  z-index: -1;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 6.5rem;
}
.portfolio .portfolio-content .work-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.portfolio .portfolio-content .work-section .portfolio-gallery {
  padding: 0.1em 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 0.5% 1% rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  box-shadow: 0 20px 50px -10px rgba(118, 118, 118, 0.5);
  border: 1px solid white;
  margin-bottom: 2em;
  border-radius: 40px;
}
.portfolio .portfolio-content .work-section .portfolio-gallery .button {
  margin: 1em;
  padding: 0.4em 1.5em;
  font-size: 1.2rem;
  border: none;
  border-radius: 2em;
  cursor: pointer;
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgb(255, 255, 255);
  color: #575656;
  font-weight: bold;
}
.portfolio .portfolio-content .work-section .portfolio-gallery .button:hover {
  background-color: rgba(255, 255, 255, 0.977);
}
.portfolio .portfolio-content .work-section .portfolio-gallery .actve {
  background-color: white;
}
.portfolio .portfolio-content .work-section .portfolio-gallery .btn-clicked {
  border: none;
  border-radius: 2em;
  cursor: pointer;
  transition: 0.3s;
}
.portfolio .portfolio-content .work-section .portfolio-images {
  padding: 2em 0;
  max-width: 89rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
}
.portfolio .portfolio-content .work-section .portfolio-images .portfolio-overlay {
  position: relative;
  overflow: hidden;
  height: 100%;
}
.portfolio .portfolio-content .work-section .portfolio-images .portfolio-overlay .portfolio-img {
  width: 28rem;
  height: 100%;
  border-radius: 0.2em;
  transition: 0.95s;
  transition: margin 400ms ease-in-out, width 400ms ease-in-out;
}
.portfolio .portfolio-content .work-section .portfolio-images .portfolio-overlay .img-expand {
  width: 28rem;
}
.portfolio .portfolio-content .work-section .portfolio-images .portfolio-overlay .img-shrink {
  width: 0em;
}
.portfolio .portfolio-content .work-section .portfolio-images .portfolio-overlay .portfolio-links {
  position: absolute;
  top: -100%;
  left: 0;
  width: 28rem;
  height: 18.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(245, 222, 179, 0.412);
}
.portfolio .portfolio-content .work-section .portfolio-images .portfolio-overlay .portfolio-links h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1em;
}
.portfolio .portfolio-content .work-section .portfolio-images .portfolio-overlay .portfolio-links .portfolio-link {
  width: 3rem;
  background: red;
}
.portfolio .portfolio-content .work-section .portfolio-images .portfolio-overlay .portfolio-links .portfolio-link .logo-link {
  width: 100%;
}
.portfolio .portfolio-content .work-section .portfolio-images .portfolio-overlay .portfolio-links .portfolio-link:hover {
  background: yellow;
  transition: 0.3 all linear;
}
.portfolio .portfolio-content .work-section .portfolio-images .portfolio-overlay:hover .portfolio-links {
  top: 0;
  transition: 0.5s all ease;
}

.about-circle-image-left {
  width: 20%;
  position: absolute;
  top: 383%;
  transform: translateX(-16rem);
  right: 105;
}
.about-circle-image-left .circle-left {
  width: 100%;
  -webkit-animation: circle 9s linear infinite;
          animation: circle 9s linear infinite;
  transition: 0.5s;
  overflow-x: hidden;
}
@keyframes circle {
  100% {
    transform: rotate(360deg);
  }
}

/*////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////// CONTACT SECTION ////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
.contact {
  min-height: 66vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .contact-content {
  width: 100%;
  max-width: 89rem;
}
.contact .contact-content .contact-title {
  text-align: center;
  margin-bottom: 1em;
  margin-top: -20em;
}
.contact .contact-content .contact-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
}
.contact .contact-content .contact-title h2 span {
  color: #ffffff;
}
.contact .contact-content .contact-title h2 .bg-text {
  position: absolute;
  top: 30%;
  left: 50%;
  color: rgba(245, 245, 245, 0.1882352941);
  transition: all 0.4s ease-in-out;
  z-index: -1;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 5.9rem;
}
.contact .contact-content .contact-form {
  width: 100%;
}
.contact .contact-content .contact-form .form-container {
  padding: 2em 2.2em;
  overflow: hidden;
  position: relative;
}
.contact .contact-content .contact-form .form-container .input-container {
  position: relative;
  margin: 1.5em 0;
}
.contact .contact-content .contact-form .form-container .input-container .input {
  width: 100%;
  outline: none;
  border: 1px solid white;
  box-shadow: 0 0.5% 1% rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  box-shadow: 0 20px 50px -10px rgba(118, 118, 118, 0.5);
  background: none;
  padding: 1.2rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}
.contact .contact-content .contact-form .form-container .input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: rgba(250, 250, 250, 0.5882352941);
  font-size: 1.3rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}
.contact .contact-content .contact-form .form-container .input-container.focus label {
  box-shadow: 0 0.5% 1% rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  box-shadow: 0 20px 50px -10px rgba(118, 118, 118, 0.5);
  top: 0;
  color: white;
  transform: translateY(-50%);
  left: 25px;
  font-size: 1rem;
}
.contact .contact-content .contact-form .form-container .input-container.focus span:before {
  width: 50%;
  opacity: 1;
}
.contact .contact-content .contact-form .form-container .input-container.focus span:after {
  width: 50%;
  opacity: 1;
}
.contact .contact-content .contact-form .form-container .input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 1rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}
.contact .contact-content .contact-form .form-container .input-container span:before, .contact .contact-content .contact-form .form-container .input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  box-shadow: 0 0.5% 1% rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  box-shadow: 0 20px 50px -10px rgba(118, 118, 118, 0.5);
  top: 50%;
  transform: translateY(-50%);
}
.contact .contact-content .contact-form .form-container .input-container span:before {
  left: 50%;
}
.contact .contact-content .contact-form .form-container .input-container span:after {
  right: 50%;
}
.contact .contact-content .contact-form .form-container .textarea .input {
  min-height: 40vh;
  padding: 0.8rem 1.2rem;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}
.contact .contact-content .contact-form .form-container .textarea label {
  top: 1rem;
  transform: translateY(0);
}
.contact .contact-content .contact-form .form-container .btn {
  padding: 0.7em 2em;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.692);
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1rem;
  transition: 0.3s;
  font-size: 0.95rem;
  line-height: 1;
  outline: none;
  cursor: pointer;
  border: 1px solid white;
  color: #575656;
}
.contact .contact-content .contact-form .form-container .btn:hover {
  background-color: rgba(255, 255, 255, 0.977);
  color: #575656;
}

/*////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////// FOOTER SECTION ////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
.footer {
  text-align: center;
}
.footer p {
  font-size: 1.7rem;
  margin-bottom: 0.2em;
  color: #575656;
}

/************************************/
/* BELOW 1440px (large desktop) */
/************************************/
@media (max-width: 90rem) {
  body {
    background-image: var(--background-image);
    background-size: cover;
  }
  body .about-circle-image-right {
    transform: translateX(37rem);
  }
  body header {
    width: 91%;
    padding: 0.9em 2em;
    position: fixed;
  }
  body header .nav-items {
    display: flex;
    justify-content: end;
    width: 90%;
  }
  body header .theme-container {
    background-color: #0D3C51;
    width: 3%;
    border-radius: 50px;
    border: 1px solid white;
    padding: 1em;
  }
  body .hero {
    margin-top: 6em;
    min-height: 100vh;
  }
  body .hero .hero-content {
    max-width: 80rem;
    padding: 0 6em;
    height: 59vh;
  }
  body .social-icons {
    top: 55%;
  }
}
/**************************/
/* BELOW 1024px (desktop) */
/**************************/
/*********************************/
/* BELOW 768px (Smaller tablets) */
/*********************************/
/**************************/
/* BELOW 425px (Phones) */
/**************************//*# sourceMappingURL=style.css.map */